@charset "UTF-8";
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis.thin.eot");
  src: local("вє"), url("../fonts/metropolis.thin.woff") format("woff"), url("../fonts/metropolis.thin.ttf") format("truetype"), url("../fonts/metropolis.thin.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.eot");
  src: local("вє"), url("../fonts/Metropolis-Regular.woff") format("woff"), url("../fonts/Metropolis-Regular.ttf") format("truetype"), url("../fonts/Metropolis-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.eot");
  src: local("вє"), url("../fonts/Metropolis-Medium.woff") format("woff"), url("../fonts/Metropolis-Medium.ttf") format("truetype"), url("../fonts/Metropolis-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Metropolis";
  font-weight: 300;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1140px;
  margin: 0px auto;
  gap: 20px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  height: 55px;
  width: 120px;
  background-color: #0161f3;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
}

/*Шапка*/
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: #ffffff;
}
.header_logo {
  color: #0161f3;
}
.header_logo.icon-logo {
  font-size: 30px;
}
.header__container {
  display: flex;
  min-height: 80px;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.header__menu {
  width: 522px;
}

.menu_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu_link {
  color: #69707a;
}

.icon-arrow_select {
  font-size: 9px;
}

.header_btn {
  height: 50px !important;
  color: #ffffff;
}
.header_btn .icon-arrow_thin {
  font-size: 13px;
}

/*---MAIN---*/
.page {
  flex: 1 1 auto;
}

.main-block {
  position: relative;
}

.main-block_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-block_container {
  padding: 130px 0 70px 0;
  position: relative;
  z-index: 2;
}
.main-block_detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-block_text {
  width: 345px;
}
.main-block_text .main_tittle {
  font-size: 50px;
  font-weight: 400;
}
.main-block_text .main_text {
  color: #69707a;
  padding-top: 30px;
  line-height: 24px;
}

/*FORM*/
.main-block_form {
  width: 545px;
  padding: 30px;
  background-color: #ffffff;
}

.form_info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  line-height: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input,
.form-group textarea,
.form-group select {
  color: #CBCFD2;
  font-weight: 300;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #CBCFD2;
  border-radius: 5px;
  height: 55px;
  left: 0px;
  right: 0px;
  top: 30px;
  padding: 0 15px;
}

.main-block_form-group input,
.main-block_form-group textarea,
.main-block_form-group select {
  margin: 15px 0 30px;
}
.main-block_form-group textarea {
  height: 160px;
  padding: 15px 15px;
  margin-bottom: 20px;
  resize: none;
}

.submit_form {
  display: flex;
  justify-content: space-between;
}
.submit_btn {
  height: 55px;
}

.privacy-policy {
  font-size: 14px;
  gap: 10px;
  width: 348px;
  height: 40px;
  margin-left: 15px;
}
.privacy-policy input {
  margin-right: 10px;
}
.privacy-policy span {
  color: #0161f3;
}

/*FIND ANSWERS*/
.find-answers_block {
  height: 325px;
  background-color: #f2f5fc;
  margin: 110px auto;
}
.find-answers_block_img img {
  max-width: 100%;
}
.find-answers_block_form {
  width: 67%;
}
.find-answers_block_form h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}
.find-answers_form-group {
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.find-answers_form-group input {
  width: 320px;
  margin-right: 10px;
}
.find-answers_form-group select {
  width: 300px;
  margin-right: 10px;
}
.find-answers_form-group select option {
  color: #CBCFD2;
  font-weight: 300;
}

.find-answers_block ._container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*ANSWERS*/
.card {
  width: 48%;
  background: #ffffff;
  box-shadow: 0px 4px 60px rgba(13, 89, 239, 0.06);
  border-radius: 5px;
  line-height: 24px;
}

h2 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 35px;
}

.findanswer-block {
  padding-bottom: 110px;
}
.findanswer-block__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.findanswer-block_card {
  width: 48%;
  padding: 30px;
  margin-bottom: 40px;
}

.bluebtn {
  background: #0161f3;
  border-radius: 5px;
  color: #ffffff;
  gap: 5px;
}

.transpbtn {
  border: 1px solid #0161f3;
  border-radius: 5px;
  color: #0161f3;
  background-color: transparent;
}
.transpbtn:hover {
  background: #0161f3;
  color: #ffffff;
}

.card__tittle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.card__tittle_question {
  font-size: 18px;
  line-height: 25px;
}
.card__avatar {
  height: 80px;
  width: 80px;
  margin-right: 15px;
}
.card__main {
  color: #69707a;
  margin-bottom: 20px;
}
.card__autor {
  margin-bottom: 20px;
}
.card__autor .name {
  color: #0161f3;
}
.card__read {
  width: 170px;
  height: 45px;
  margin: 0 10px 10px 0;
}
.card__contact {
  gap: 5px;
  width: 155px;
  height: 45px;
}

@media (max-width: 1200px) {
  ._container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .main-block_detail {
    flex-direction: column;
  }
  .main-block_detail .main_text {
    margin-bottom: 40px;
  }
  .main-block_text,
.main-block_form {
    width: 100%;
  }
  .find-answers_block {
    margin: 90px auto;
  }
  .find-answers_form-group {
    flex-direction: column;
  }
  .find-answers_block_form {
    width: 100%;
  }
  .find-answers_block_form input,
.find-answers_block_form select {
    width: 100%;
    margin-bottom: 15px;
  }
  .find-answers_block_img {
    display: none;
  }
}
@media (max-width: 767px) {
  .card {
    width: 95%;
  }
  .findanswer-block {
    padding-bottom: 60px;
  }
  .findanswer-block__cards {
    justify-content: center;
  }
}
/*RECOMMENDED*/
.recommend-block {
  background-color: #F8F8F8;
  padding: 110px 0;
}
.recommend-block_content {
  line-height: 24px;
}
.recommend-block_content h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 15px;
}
.recommend-block_tittle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.recommend-block_btn {
  width: 150px;
  height: 45px;
}
.recommend-block__wrap {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recommend-block__item_wrapper {
  padding: 0 10px;
  width: 50%;
  margin-bottom: 20px;
}
.recommend-block__item_content {
  height: 100%;
  padding: 20px 55px 30px 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 60px rgba(13, 89, 239, 0.06);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  cursor: pointer;
}

.card_tittle {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.card_tittle img {
  margin-right: 10px;
  min-width: 80px;
}
.card_rates {
  padding-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
}
.card_rates .local-rating {
  margin-right: 40px;
}
.card_hashtags {
  padding-bottom: 20px;
}
.card_location {
  padding-bottom: 20px;
}

.icon {
  color: #0161f3;
}

.tags span {
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  background-color: #F8F8F8;
  color: #69707a;
  margin-bottom: 10px;
  border-radius: 5px;
}

.bottom_btn {
  padding: 10px;
  width: 170px;
  height: 55px;
}

@media (max-width: 767px) {
  .recommend-block {
    padding: 60px 0;
  }
  .recommend-block__item_wrapper {
    width: 100%;
  }
}